html {
  -webkit-font-smoothing: antialiased;
}

body {
  font: normal 100%/1.5 "HelveticaNeueW01-55Roma", Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  background-color:#F7C844;
  color:#262122;
  padding:0;
  margin:0;
/*  background:url(../images/bg-the-flag.jpg) center center;
  background-size:cover;*/
}

html, body{
  height:100%;
}

@font-face {
    font-family: 'century725_btroman';
    src: url('../fonts/cen725__-webfont.eot');
    src: url('../fonts/cen725__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cen725__-webfont.woff2') format('woff2'),
         url('../fonts/cen725__-webfont.woff') format('woff'),
         url('../fonts/cen725__-webfont.ttf') format('truetype'),
         url('../fonts/cen725__-webfont.svg#century725_btroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

p{
  font-family:"HelveticaNeueW01-55Roma", Arial, sans-serif;
  font-size:1.8em;
  font-weight:normal;
  line-height:1.25;
  margin:0;
  padding:0;
  -webkit-transition: color .4s ease-in;
  -moz-transition: color .4s ease-in;
  -o-transition: color .4s ease-in;
  -ms-transition: color .4s ease-in;
  transition: color .4s ease-in;
}

p a:link, p a:visited{
  color:#262122;
  text-decoration:none;
  -webkit-transition: color .4s ease-in;
  -moz-transition: color .4s ease-in;
  -o-transition: color .4s ease-in;
  -ms-transition: color .4s ease-in;
  transition: color .4s ease-in;
}

p a:hover, p a:active{
  text-decoration:underline;
}

h1{
  font-family:'century725_btroman', Georgia, serif;
  font-size:7.5em;
  line-height:1;
  padding:0;
  margin:120px 0 13px 0;
  -webkit-transition: color .4s ease-in;
  -moz-transition: color .4s ease-in;
  -o-transition: color .4s ease-in;
  -ms-transition: color .4s ease-in;
  transition: color .4s ease-in;
}

.preorder, .watch, .download{
  padding:60px 0 0 0;
}

#logo{
  width:32px;
  margin:17px 0 0 0;
}

.gn-logo{
  fill:#262122;
  -webkit-transition: fill .4s ease-in;
  -moz-transition: fill .4s ease-in;
  -o-transition: fill .4s ease-in;
  -ms-transition: fill .4s ease-in;
  transition: fill .4s ease-in;
}

#mti_wfs_colophon{
  display:none !important;
}

/* Large desktop */
@media (min-width: 1200px) {
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

}
 
@media (max-width: 767px) {
   
}
 
@media (max-width: 480px) {
  body{
    font-size:60%;
  }
  .preorder, .watch, .download{
    padding:40px 0 0 0;
  }
  h1{
    margin:40px 0 13px 0;
  }
}